In [1]:
# Simple addition
5+98

103

In [2]:
#-v value addition
-34+4

-30

In [3]:
#Simple Substraction
56-34

22

In [4]:
#Simple Division
21/7

3.0

In [5]:
# Division without a floating value as answer
21//7

3

In [6]:
#division with floating values
52.777777/32.34444

1.6317418697000166

In [7]:
#simple multiplication 
56*4

224

In [8]:
#exponential function
2**5

32

In [10]:
#order of operation follows PEDMAS="Parenthesis ,exponential,Division,multiplication,Multiplication
#addition-substraction

5**2+(2+3)*4/2

35.0

In [12]:
##variables--"its a container for some values."
my_variable=30
my_variable2=40
my_variable

30

In [13]:
my_variable2

40

In [14]:
#python is a case sensitive language
My_variable

NameError: name 'My_variable' is not defined

In [ ]:
# It will throw in an error as M is in caps

In [15]:
#we can perform arithmetic operations on the variables
my_variable+my_variable2

70

In [17]:
# we can store this opertion in another variable 
my_addition=my_variable+my_variable2
my_addition

70

In [18]:
#getting user_input
value=input("Enter a Value:")

Enter a Value:2

In [19]:
value

'2'

In [20]:
# any value the user returns is a string so we need to change the data type to perform any math operation

In [23]:
# so what we can do is 
value=int(input("Enter a value :"))

Enter a value :50

In [24]:
value+60

110

In [25]:
#COOL!!

In [5]:
# List Tuples and Sets

# List

courses=["DBMS","Stats","Data Science in R","EDA"]
print(courses)

['DBMS', 'Stats', 'Data Science in R', 'EDA']

In [6]:
## Indexing in python starts with 0

courses[2]

'Data Science in R'

In [7]:
# A negetaive sign represents from the end of the list
courses[-1]

'EDA'

In [8]:
courses[0:2]

['DBMS', 'Stats']

In [9]:
# here 0:2 means starting from 0th index  print all elements but not second index.
# the below codes prints all the elements starting from index 1 to the end
courses[1:]

['Stats', 'Data Science in R', 'EDA']

In [10]:
# A list might contain additional list or even numeric data
my_list=[1,2,5,"foo","bar",["rock","paper","scissors"]]
my_list

[1, 2, 5, 'foo', 'bar', ['rock', 'paper', 'scissors']]

In [11]:
#subetting the last element of my_list
my_list[-1]

['rock', 'paper', 'scissors']

In [12]:
# it returns the last element which is a list itself
# subsetting a list within a list of my_list

my_list[-1][0:2]

['rock', 'paper']

In [13]:
#adding values to list
courses.append("ML")
courses

['DBMS', 'Stats', 'Data Science in R', 'EDA', 'ML']

In [14]:
# list.insert takes 2 arguments first is the index where you want to add the data , next is the element we want to add
courses.insert(0,"Neural Networks")
courses

['Neural Networks', 'DBMS', 'Stats', 'Data Science in R', 'EDA', 'ML']

In [15]:
#lets try adding two lists
courses_2=["Inferential Statistics","AI"]
courses.append(courses_2)
courses

['Neural Networks',
 'DBMS',
 'Stats',
 'Data Science in R',
 'EDA',
 'ML',
 ['Inferential Statistics', 'AI']]

In [16]:
# As we can observe here list.append is just adding the whole list as a list in courses, same for list.insert ; so is we just
# want to add the elements of the second list as elements we use list.extend() method 
#We will use a method called list.pop() to remove the last element of the list to make courses equal to the list of output [34]

In [17]:
courses.pop()
courses

['Neural Networks', 'DBMS', 'Stats', 'Data Science in R', 'EDA', 'ML']

In [18]:
courses.extend(courses_2)
courses

['Neural Networks',
 'DBMS',
 'Stats',
 'Data Science in R',
 'EDA',
 'ML',
 'Inferential Statistics',
 'AI']

In [19]:
#Great
#Now lets try removing elements from a list
#we have already seen list.pop() in action which removes the last element of the list----- IN[56]

courses
courses.remove('AI')
courses

['Neural Networks',
 'DBMS',
 'Stats',
 'Data Science in R',
 'EDA',
 'ML',
 'Inferential Statistics']

In [20]:
courses.remove('Stats')

In [21]:
courses

['Neural Networks',
 'DBMS',
 'Data Science in R',
 'EDA',
 'ML',
 'Inferential Statistics']

In [22]:
# We can see now courses dont have the elements AI and Stats

In [24]:
## Now lets see some examples of sort
# now suppose we want to reverse the elements of the List courses
courses.reverse()
courses

['Inferential Statistics',
 'ML',
 'EDA',
 'Data Science in R',
 'DBMS',
 'Neural Networks']

In [26]:
# As we can see above the elements of courses has been reversed
#now lets use list.sort() method
courses.sort()
courses

['DBMS',
 'Data Science in R',
 'EDA',
 'Inferential Statistics',
 'ML',
 'Neural Networks']

In [28]:
# We can see the list have been sorted alphabetically.
# now suppose we want it (courses) to be sorted alphabetically in descending order we use the following argument in the method 
courses.sort(reverse=True)
courses

['Neural Networks',
 'ML',
 'Inferential Statistics',
 'EDA',
 'Data Science in R',
 'DBMS']

In [29]:
# Cool

In [30]:
# now we will use a function to short the list
courses_sorted=sorted(courses)
courses_sorted

['DBMS',
 'Data Science in R',
 'EDA',
 'Inferential Statistics',
 'ML',
 'Neural Networks']

In [37]:
# lets print out the index of elements in courses
courses.index('EDA')

3

In [38]:
#lets now see if an element exists in a list (courses) or not
'EDA' in courses

True

In [39]:
"AI" in courses

False

In [31]:
### Lets see some more functions 
#lets print out the minimum value from the list 
my_list=[23,45,78,32,12,67]

min(my_list)

12

In [32]:
# now  lets print maximum

max(my_list)

78

In [33]:
# and now for the sum of the elements in the list

sum(my_list)

257

In [48]:
# We can print the elements of a list using a for loop
for elements in courses:
   print(elements)

Neural Networks
ML
Inferential Statistics
EDA
Data Science in R
DBMS

In [50]:
# we can print the index and the elements of list using enumerate
for index,items in enumerate(courses):
    print (index,items)

0 Neural Networks
1 ML
2 Inferential Statistics
3 EDA
4 Data Science in R
5 DBMS

In [52]:
#  print from a particular index 

for index,items in enumerate(courses,start=2):
    print(index,items)

2 Neural Networks
3 ML
4 Inferential Statistics
5 EDA
6 Data Science in R
7 DBMS